* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background: #fcfcfc;
  font: 14px sans-serif;
  color: #333;
}

div {
  width: 90%;
  margin: 20px;
}

div li {
  display: flex;
  align-items: center;
}

div li + li {
  margin-top: 15px;
}

button {
  background: #7159c1;
  color: #fff;
  border: 0;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 15px;
  font-weight: bold;
  font-size: 14px;
  border-radius: 5px;
  height: 65px;
}

div li button {
  margin: 0 0px;
  background: #ca4949;
  height: 45px;

}

.container {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-top: 40px;
  width: 50%;
}

.novoLi{
  background: #e0e0e0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 8px;
  padding: 10px;
  padding-left: 25px;
}
